API_BASE_URL=http://localhost:8000/api
ENCRYPTION_KEY=nFBHklMOhewyBvNEx0CXPQRwMBPsrAGTN2gGty3PSOmSbutPy4IpWafjnNsPZ6POfy5M5fDeaRECtAwUeBMo_yJmZbYQCHiAdeBHq9K7TDRwhBNuYx_ufTaqIZducnopMieGTkSPg1I96l_daivvh9LzfjbFgFcx-KdQo4z1YLFwc_k840x0fC64wpOq2GvUa_Ealwy3P8Ydy6k5On5htfJV3fF-hBnM2pV_ucHSuG1E91i3PCNlVEyNx_zeAfwIe05OcnQTjzbW5CEYWmBi7WLhXt_Am74GjxaEDxH4N5i5os2vqwZYRyVEJ6U38Sq0s_7E0Rvi4VQR9q1MiouxoQ
